.astro-c-button-badge {
  background: linear-gradient(180deg, #C9190B 0%, #A30000 100%, #3D0000 100.01%);
  border-radius: 30px;
  height: 54px;
  padding: 2px 0 0 0;
  width: 54px;
  // in pf6 there seem to some default transition
  transition: none;
  &:hover {
    background: var(--pf-t--color--red-orange--70);
  }
  .astro__badge {
    width: 74%;
  }
}
